/* CSS menu 1 */
header{
   
    background-color: #0059C2;
    border-bottom: solid 4px;
    border-color: #EFD200;
    font-size: 19px;

}

#menu1 nav ul{
    list-style: none;
}

#menu1 nav li{
    float: left;
    width: 20%;
    text-align: center;
}

#menu1 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu1 nav{
    background-color: #0059C2;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0px;

}

#menu1 nav a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: center;

}

#menu1 nav a:hover{
    color: white;
    font-size: 21.5px;
    text-shadow: 2px 2px 4px white;
}

#menu1 li a{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

#link{
    padding-top: 26px;
    text-align: center;
    position: relative;
}

#logoapp img{
    padding-top: 3px;
    height: 87px;
    width: 117px;
}



@media all and (max-width: 600px){


    header{
    font-size: 15px;
    }   

    
