a img{
  position: absolute;
  top: auto;
  left: 10px;
  width: 130px;
  height: 100px;}

a{
  text-decoration: none;}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0061D3;
    position: absolute;
    top: 0;
  }


.ongletheader{
    background-color: #0061D3;
    color: white;
    padding: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 90px;}

.ongletheader:hover{
    background-color: #0061D3;
    color: white;}
