/* PAGE AIDE*/
#blocaide{
  margin: 5%;
}

.top{
  text-transform: uppercase;
  height: 20px;
  width:auto;
  font-size: 30px;
  font-weight: bold;
  text-align:center;
  color:#3F51B5;
}

.box .container{
  width:90%;
  margin-right:auto;
  margin-left:auto;
}
.container legend{
  width:auto;
  margin-right:auto;
  margin-left:auto;
}
