/*CONTACT*/
#bloccontact{
  margin-bottom: 5%;
}
.Entete{
  text-transform: uppercase;
  font-family: 'Lato'
  height: 20px;
  width:auto;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  text-align:center;
  color:#3F51B5;

}
.Mot{
font-style: italic;
text-align: center;
height:10px;
font-size: 20px;
clear: both;
color: black;
}
.lien{
  color: black;
}

.contenu{
  text-align:center;
}
.nom{
  font-size: 20px;
  position: relative;
  right:65px;
  font-weight: bold;
}
.Prenom{
  font-size: 20px;
  position: relative;
  right:50px;
  font-weight: bold;
}
.email{
  font-size: 20px;
  position: relative;
  right:65px;
  font-weight: bold;
}
.Message{
  font-size: 20px;
  position: relative;
  right: 47px;
  font-weight: bold;
  color: #3F51B5;
}

.tel{
  font-size: 20px;
  position: relative;
  right:10px;
  font-weight: bold;
}
.Message{
  font-size: 20px;
  position: relative;
  right: 2px;
  font-weight: bold;
  display: inline;
}
.btn{
	background-color: #3F51B5;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	width: 20%;
  height: 30px;
	position: relative;
	margin-top: 1%;
  color: white;
}

.btn:hover{
	background-color: white;
	border: 1px solid #3F51B5;
	border-radius: 10px;
	cursor: pointer;
	width: 20%;
  height: 30px;
	position: relative;
	margin-top: 1%;
  color: #3F51B5;
}

.contenu{
  text-align: center;
}
legend{
  background-color: #fff;
  color: #3F51B5;
  padding: 2px 6px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.input-row{
 height: 20px;
 padding: 10px;
 color: red;
 border-color: red;
}
input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}
input:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
}
