body
{
	text-align: center;
}

#photoavatar
{
	width: 100px;
	height: 100px;
}

legend
{
  text-align: center;
}

table td{
	position: relative;
	left: center;
}

#informationspersonnelles fieldset
{
	width: 50%;
	border: 3px #0059C2 solid;
	margin: auto;
}

#informationspersonnelles form
{
	text-align: center;
	position: relative;
}


td{
	width: auto;
	position: relative;
	left: 50%;
}

#submitinfoperso{
	position: relative;
	margin:20px;
	width: 100%;
	background-color: #3F51B5;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	margin-top: 1%;
	height: 25px;
	color: white;
}

#prochainsrdv input{
	position: relative;
	margin:20px;
	width: 30%;
	background-color: #3F51B5;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	margin-top: 1%;
	height: 25px;
	color: white;
}
#prochainsrdv form{
	position: relative;
	left: 0%;
}

#box{
 width: auto;
}

#submitrecherche{
	position: relative;
	margin:20px;
	width: 30%;
	background-color: #3F51B5;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	margin-top: 1%;
	height: 25px;
	color: white;
}


a button{
	background-color: #3F51B5;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	width: 15%;
	position: relative;
	margin-top: 1%;
	height: 25px;
}

a button:hover{
	background-color: white;
	border: 1px solid #3F51B5;
	border-radius: 10px;
	cursor: pointer;
	width: 15%;
	position: relative;
	margin-top: 1%;
}

button{
	background-color: #3F51B5;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	width: 20%;
	position: relative;
	margin-top: 1%;
	height: 25px;
}

button:hover{
	background-color: white;
	border: 1px solid #3F51B5;
	border-radius: 10px;
	cursor: pointer;
	width: 20%;
	position: relative;
	margin-top: 1%;
}

span{
	color: white;
}

span:hover{
	color: #3F51B5;
}

#prochainsrdv fieldset
{
	margin: auto;
	padding: auto;
	border: 3px #0059C2 solid;
}

#prochainsrdv table
{
	margin:auto;
}

#prochainsrdv fieldset
{

	width:40%;
}

#résultats fieldset
{
	width: 25%;
	margin:auto;
	border: 3px #0059C2 solid;
}

#résultats form
{
text-align: center;
margin:auto;
}

#rechercheuga fieldset{
	width: 50%;
	margin:auto;
	border: 3px #0059C2 solid;
	word-spacing: 10px;
}

#rechercheuga #abc{
	position: relative;
	left: -25%;
	width: 50%;
	text-align: center;
	margin:auto;
}

#ajouterrdv fieldset{
	width: 60%;
	margin:auto;
	border: 3px #0059C2 solid;
	word-spacing: 10px;
	position: relative;
}

#ajouterrdv form{
	position: relative;
	left: -32%;
	width: 100%;
	text-align: center;
	margin:auto;
}

#backoffice fieldset
{
border: 3px #0059C2 solid;
margin:auto;
}

#ajouteruser fieldset
{
width:30%;
margin: auto;
border: 3px #0059C2 solid;
}

#faq fieldset
{
width:20%;
margin: auto;
border: 3px #0059C2 solid;
}

#clcgu fieldset
{
width:20%;
margin: auto;
border: 3px #0059C2 solid;
}

#form fieldset
{
width:60%;
margin: auto;
border: 3px #0059C2 solid;
padding:2%
}

#Graphique
{
width: auto;
padding: auto;
}

#graph
{
margin:auto;
}

#Graphique fieldset
{
width:40%;
margin: auto;
border: 3px #0059C2 solid;
}

#backoffice fieldset
{
margin: auto;
}
input
{
width: 45%;
height: 5%;
}

.text-danger
{
color: red;
}

.text-success
{
color: green;
}

h3
{
color: green;
}

#bienvenue p
{
color: green;
}
/*MEDIAQUERIES*/
@media all and (max-width: 600px)
{
body
{
margin:auto;
padding: auto;
font-size: 10px
}

#backoffice fieldset
{
	border: 3px #0059C2 solid;
	padding: auto;
	width: auto;
}

.champ
{
	width: auto;
	height: auto;
}

#form textarea
{
	width:70px;
	height:100px;
}

input
{
	width: 50px;
}

#graph
{
	width: 300px;
	height: 150px;
}


#form fieldset
{
	padding:1%;
}
a
{
	font-size: 10px;
}
