/* CSS commun */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Lato;

}

header{

    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
}

footer{

  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
}


body{
    background: white;
    height: 100%;
    margin: 0%;
}
