/* CSS commun */
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir Next;
    color: black; /* gère la couleur des logo du header mais aussi de tous les textes des autres pages... */
}

body{
    background: white;
    height: 100%;
    margin: 0%;
}
