


/* CSS commun */

*{
    margin: 0px;
    padding: 0px;

    font-family: Avenir Next;

    color: black;
}

body{
    background: white;
    height: 100%;
    margin: 0%;
}







/*ANIMATION PAGE ACCUEIL*/
#images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;

}
#images img{
  margin: 50px;
  border: 2px black solid
}

#avions img,#pilotes img
{
  width: 300px;
  height: 176px;

}











#carousel-example-generic{
  width: 100%;
  height: 600px;
  background-image: url(/SITE/public/images/fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-caption {
  margin-bottom: 20%;
  position: relative;
  text-align: center;
  top: 200px;
  left: 50px;
}
.carousel-caption h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: white;
}
.carousel-caption h2 span {
  color:#3F51B5;
}
.carousel-caption a {
  background: #3F51B5;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;

}

.carousel-caption h3,.carousel-caption p{
  text-align:center;
  color: white;
}
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}
.carousel-indicators .active {
  background-color: #3F51B5;
  border-color: #EDBB00;
}


/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    padding-bottom: 350px;
  }
  .carousel-caption h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-inverse .navbar-brand {
    font-size: 30px;
    padding: 20px 15px;
  }
  .carousel-caption {
    padding-bottom: 120px;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-caption h3 {
    font-size: 18px;
  }
  .carousel-caption a {
    padding: 10px 25px;
  }
}

<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes





















/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}




/*CONTACT*/
#bloccontact{
  margin-bottom: 5%;
}
.Entete{
  text-transform: uppercase;
  height: 20px;
  width:auto;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  text-align:center;
  color:#3F51B5;

}
.Mot{
font-style: italic;
text-align: center;
height:10px;
font-size: 20px;
clear: both;
color: black;
}
.lien{
  color: black;
}

.contenu{
  text-align:center;
}
.nom{
  font-size: 20px;
  position: relative;
  right:65px;
  font-weight: bold;
}
.Prenom{
  font-size: 20px;
  position: relative;
  right:50px;
  font-weight: bold;
}
.email{
  font-size: 20px;
  position: relative;
  right:65px;
  font-weight: bold;
}
.Message{
  font-size: 20px;
  position: relative;
  right: 47px;
  font-weight: bold;
  color: #3F51B5;
}

.tel{
  font-size: 20px;
  position: relative;
  right:10px;
  font-weight: bold;
}
.Message{
  font-size: 20px;
  position: relative;
  right: 47px;
  font-weight: bold;
  display: inline;
}
.btn{
  display:inline-block;
  background-color:white;
  border-radius: 8px;
  border: 2px solid #3F51B5;
  font-family: Lucida sans;
  font-size: 20px;
  cursor: pointer;
}
.contenu{
  text-align: center;
}
legend{
  background-color: #fff;
  color: #3F51B5;
  padding: 2px 6px;
  font-size: 20px;
  font-weight: bolder;
}





















/* PAGE CONNEXION*/
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.login-box{
  width: 280px;
  position: relative;
  margin-left: 40%;
  margin-top: 20%;
  margin-bottom: 20%;
  color: #3F51B5;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #3F51B5;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #3F51B5;
  display:  flex;
  flex-direction: row;
  justify-content: center;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #3F51B5;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #3F51B5;
  color: #3F51B5;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}




















/* PAGE A PROPOS*/
@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand');

#titre_aboutus {
  position: relative;
  font-size:3vw;
  color : #3F51B5;
  margin-left:35%;
}

#introduction {
  position: relative;
  margin-top:4.5%;
  font-size:1.3vw;
  margin-left:7%;
  margin-right:7%;
}




/*Blocs pour chaque personne ---------------------------------------------------*/

.image {
  height: auto;
  width : 100%;
}

.email{
  text-decoration : none;
  color : #3F51B5;
  font-weight : bold;
}

.information{
  font-weight : bold;
}
#textaboutus{
  margin-bottom: 70%;
}

.overlay {
  position: absolute;
  top:0 ;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top:50%;
  transition: 1s ease;
  opacity:0;
  color: white;
  padding:20px;
  text-align: center;
  font-size:1.5vw;
}
#containeur{

}

#container1 {
  position: absolute;
  top : 50%;
  left : 7%;
  width: 11%;
}
#container2 {
  position: absolute;
  top : 50%;
  left : 22%;
  width: 11%;
}
#container3 {
  position: absolute;
  top : 50%;
  left:37%;
  width: 11%;
}
#container4 {
  position: absolute;
  top : 50%;
  left:52%;
  width: 11%;
}
#container5 {
  position: absolute;
  top : 50%;
  left:67%;
  width: 11%;
}
#container6 {
  position: absolute;
  top : 50%;
  left:82%;
  width: 11%;
}

#container1:hover .overlay {
  opacity: 1;
}
#container2:hover .overlay {
  opacity: 1;
}
#container3:hover .overlay {
  opacity: 1;
}
#container4:hover .overlay {
  opacity: 1;
}
#container5:hover .overlay {
  opacity: 1;
}
#container6:hover .overlay {
  opacity: 1;
}

/*Textes de description*/

#description1{
  display:none;
  font-size:1.2vw;
}
#description2{
  display:none;
  font-size:1.2vw;
}
#description3{
  display:none;
  font-size:1.2vw;
}
#description4{
  display:none;
  font-size:1.2vw;
}
#description5{
  display:none;
  font-size:1.2vw;
}
#description6{
  display:none;
  font-size:1.2vw;
}

/*Boutons*/

#myBtn1{
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  color:#555;
  display : block;
  margin:auto;
}
#myBtn1:hover{
  background:#DFDEDE;
}

#myBtn2{
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  color:#555;
  display : block;
  margin:auto;
}
#myBtn2:hover{
  background:#DFDEDE;
}

#myBtn3{
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  color:#555;
  display : block;
  margin:auto;
}
#myBtn3:hover{
  background:#DFDEDE;
}

#myBtn4{
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  color:#555;
  display : block;
  margin:auto;
}
#myBtn4:hover{
  background:#DFDEDE;
}

#myBtn5{
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  color:#555;
  display : block;
  margin:auto;
}
#myBtn5:hover{
  background:#DFDEDE;
}

#myBtn6{
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:2px 2px 6px #999;
  background:#fff;
  color:#555;
  display : block;
  margin:auto;
}
#myBtn6:hover{
  background:#DFDEDE;
}


/* PAGE AIDE*/
#blocaide{
  margin: 5%;
}

.top{
  text-transform: uppercase;
  height: 20px;
  width:auto;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  text-align:center;
  color:#3F51B5;
}

.box .container{
  width:90%;
  margin-right:auto;
  margin-left:auto;
}
.container legend{
  width:auto;
  margin-right:auto;
  margin-left:auto;
}






/* PAGE UTILISATEUR*/
#photoavatar {
  width: 100px;
  height: 100px;
}

legend{
  text-align: center;
}

fieldset{
  margin: 10%;
}






















