<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Website | Accueil</title>
    
    <link rel="stylesheet" href="/SITE/public/css/Header.css">
    <link rel="stylesheet" href="/SITE/public/css/footer.css">
    <link rel="stylesheet" href="/SITE/public/css/style.css">
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   

    

</head>


  <header id="menu1">
    <nav>
        <ul id="menu">


            <li id="link"><a id="logoapp"href="accueil.html"><img src="/SITE/public/images/logoapp.png"/></a></li>
            <li id="link"><a id="b2" href="accueil.html"><i class="fas fa-home"></i> Accueil</a></li>
            <li id="link"><a id="b3"href="faq.html"><i class="fas fa-info"></i> Aide</a></li>
            <li id="link"><a id="b4"href="contact.html"><i class="fas fa-envelope"></i> Contact</a></li>
            <li id="link"><a id="b5"href="connexion.html"><i class="far fa-id-badge"></i> Connexion</a></li>



            <!--UTILISATEUR
            <li id='link'><a id="b6"href="#"> Ma Page</a>
                    <ul>
                        <li><a href="pageutilisateur.html"> Ma Page Utilisateur</li></a>
                        <li><a href="#">Déconnexion</li></a>
                    </ul>
                </li><!-->

             <!--GESTIONNAIRE
             <li id='link'><a id="b7"href="#"> Ma Page</a>
                <ul>
                    <li><a href="pagegestionnaire.html"> Ma Page Gestionnaire</li></a>
                   
                    <li><a href="#">Déconnexion</li></a>
                </ul>
            </li><!-->
            <!-- ADMIN
             <li id='link'><a id="b7"href="#"> Ma Page</a>
                <ul>
                    <li><a href="pagegestionnaire.html"> Ma Page Administrateur</li></a>
                  

                    <li><a href="#">Déconnexion</li></a>
                </ul>
            </li><!-->
                
        </ul>
    </nav>
  </header>s








  <body>
    <div class="login-box">
      <h1>Connexion</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input class="login" type="text" placeholder="Email">
      </div>

      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input class="login" type="password" placeholder="Mot de passe">
      </div>

      <input type="submit" class="btn" value="Se connecter">
    </div>

  </body>
  

  <footer id="menu2">
        <nav>
            <ul>
                <li id="link2"><a href="cgu.html">CGU & CL</a></li>
                <li id="link2"><a href="contact.html">Contact</a></li>
                <li id="link2"><a href="faq.html">FAQ</a></li>
                <li id="link2"><a href="aboutus.html">À propos</a></li>
            </ul>
        </nav>
    </footer>

    

</html>
